.navBarContainer{
    display: grid;
    grid-template-columns: 70% 30%;
    background-color: rgb(237, 232, 232);
    height: 40px;
    
   
}
.menu{
    display: flex;
    list-style: none;
    font-size: 18px; 
    height: 100%;
    text-decoration: none;
    align-items: stretch;
    padding: 0;
}
.menu-1{
    justify-content: end;
}

.list{
    padding : 5px 10px 5px 10px;
    background-color: rgb(237, 232, 232);
    color: black;
   
}
.list:hover{
    background-color: #c6ceed;
    font-size: 19px;
    
}