
.addProblem-form{
    border: 1px solid black;
    margin: 20px;
}

.form{
    
    display: inline-block;
    padding: 40px;
    border: 0;

}

.addProblem-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0;
}

#title,#answer{
    margin: 10px;
    height: 40px;
    font-size: 20px;
}

#description{
    margin: 10px;
    padding: 10px;
}
#tag-select{
    margin: 10px;
}
.problemBtn{
    background-color:#27186b;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    width: 40%;
    margin: 15px;
    height: 45px;
}